// Place all the styles related to the Hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-container{
  width: 100%;
  margin-top: 25%;
  text-align: center;

  #hospital_name{
    width: 75%;
    max-width: 400px;
  }
}